.Services-hero{
    height: 450px;
    background-image: url('../../Assests/Images/services-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(27,47,69, 0.7) ;
    display: flex;
    align-items: center;
    justify-content: center;
}