.Loadingcontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .loading{
    position: relative;
  }
  .loading::before{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 1.8em);
    left: calc(50% - 1.8em);
    width: 3.6em;
    height: 3.6em;
    border: 0.2em solid #ddd ;
    border-color: #5e8eed transparent transparent #5e8eed;
    border-radius: 50%;
    -webkit-animation: loading 1s infinite 0.11s;
    animation: loading 1s infinite 0.11s;
  }
  .loading::after{
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 1.2em);
    left: calc(50% - 1.2em);
    width: 2.4em;
    height: 2.4em;
    border: 0.2em solid #ddd ;
    border-color: #bacff7 transparent transparent #bacff7;
    border-radius: 50%;
    -webkit-animation: loading 1s infinite 0.33s;
    animation: loading 1s infinite 0.33s;
  }
  .circle{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 0.2em solid #ddd;
    border-color: #8caef2 transparent transparent #8caef2;
    -webkit-animation: loading 1s infinite 0.44s;
    animation: loading 1s infinite 0.44s;
  }
  @-webkit-keyframes loading{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
  @keyframes loading{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }