
.section-slider .swiper-pagination-bullet{
    background-color: rgb(27,47,69);
    padding: 5px;
}
.section-slider .swiper-button-next , .swiper-button-prev{
    color: rgb(27,47,69);
    margin: 0 -7px !important;

}
.section-slider .swiper-wrapper{
    width: 100% !important;
}