.sectionHero{
    background-image: url(../../Assests/Images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(27,47,69, 0.9) ;
    height: 100vh;
}
.sectionHero .hero-title h1{
    color: #82cbed ;
}
.sectionHero .hero-title p{
    border-left: 2px solid #82cbed !important;
}
.sectionHero button{
    all: unset;
    margin: 5px 10px ;
    color: #fff;
    padding: 10px 8px ;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    background-color: #82cbed ;
    color: #000;
    transition: all 0.5s ease-in-out;
}
.sectionHero button:hover{
    background-color: #82cbed ;
}

@media screen and (max-width: 992px) {
    .sectionHero .hero-title{
        background-color: inherit;
    }
}